# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [1]:
import pandas as pd

df = pd.read_csv('nbastats2018-2019.csv')

print(f'Avg. age of players in league is :{df['Age'].mean(numeric_only=True)}')

Avg. age of players in league is :25.900191938579656

# What player scored the most points?

In [18]:
df.sort_values('Points', ascending=False)[['Name', 'Points']].reset_index(drop=True)[0:1]

           Name  Points
0  James Harden    36.1

# What player had the most blocks during the season? Was it a post player (F/C)?

In [17]:
print(f'{df.sort_values('Blocks', ascending=False)[['Name', 'Blocks']].reset_index(drop=True)[0:1]}; He is a CENTER ')

           Name  Blocks
0  Myles Turner     2.7; He is a CENTER

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [31]:
df[['Name','WS']].sort_values('WS',ascending=False)[0:1]

             Name    WS
202  James Harden  15.2

# What player had the best 3-pt percentage?

In [36]:
df[['Name','FG3%']].sort_values('FG3%',ascending=False)[0:1]

              Name  FG3%
312  Scott Machado   1.0

# Who played the most minutes during the season

In [39]:
df[['Name','MP']].sort_values('MP',ascending=False)[0:1]

            Name    MP
179  Paul George  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [4]:
df[['Name','PER']].sort_values('PER',ascending=False)[0:1]

        Name   PER
405  Zhou Qi  80.4

# What team had the youngest roster?

In [61]:
df.groupby('Team').mean('Age')[[ 'Age']].sort_values('Age')[0:1]

                   Age
Team
Chicago Bulls  24.3125

# Who is the highest paid player during the seasion?

In [52]:
df['Salary'] = pd.to_numeric(df['Salary'],errors='coerce')

df[['Name','Salary']].sort_values('Salary', ascending=False)[0:1]

              Name      Salary
121  Stephen Curry  37457154.0

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [13]:
df[['Name','FT%','FTA']].sort_values('FT%')[0:7]

                   Name  FT%  FTA
268      Terrence Jones  0.0  0.5
221   Haywood Highsmith  0.0  0.4
356  Donatas Motiejunas  0.0  0.7
502       C.J. Williams  0.0  0.1
154         Jacob Evans  0.0  0.0
360         Dzanan Musa  0.0  0.2
325      Tahjere McCall  0.0  1.0